.menu {
  @apply w-48;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background-color: var(--color-background-accent);

  &__action {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 0.5rem;

    overflow: hidden;
    position: relative;

    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    user-select: none;
    cursor: pointer;
    fill: var(--color-font);
    &:hover {
      color: var(--color-primary);
      fill: var(--color-primary);
    }
  }
  &__icon {
    width: 20px;
    height: 20px;
  }
}
